.lead {
  padding-top: 15%;
}

@media (min-width: 768px) {
  .lead {
    padding-top: 48px;
  }
}

@media (min-width: 1024px) {
  .lead {
    padding: 48px 4.7% 0 4.7%;
  }
}

@media (min-width: 1280px) {
  .lead {
    padding: 56px 11.6% 0 11.6%;
  }
}
