.photo-grid__item {
  width: 90%;
  height: auto;
}

@media (min-width: 768px) {
  .photo-grid__item {
    width: calc(100%/2 - 3.1% - 8px);
  }
}

@media (min-width: 1024px) {
  .photo-grid__item {
    max-width: calc((100% - 9.4% - 32px)/3);
  }
}

@media (min-width: 1280px) {
  .photo-grid__item {
    max-width: calc((100% - 7.5% - 48px)/4);
  }
}
