.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 5% 5% 0 5%;
  min-height: 42px;
  min-width: 288px;
}

@media (min-width: 768px) {
  .header {
    padding: 3.65% 3.12% 0 3.12%;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 2.7% 4.7% 0 4.7%;
  }
}
