.lead__title {
font-weight: 900;
font-size: 40px;
line-height: 44px;
text-align: center;
margin: 32px 16px 16px 16px;
}

@media (min-width: 768px) {
    .lead__title{
        font-size: 96px;
        line-height: 100px;
    }
}