.lead__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 16px auto 40px auto;
  max-width: 288px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 56px auto;
    max-width: 640px;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
