.cover__overlay {
  width: 100%;
  grid-area: container;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover__overlay:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  background-color: #2a2c2f;
  transition: opacity 200ms ease-out;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}
