.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 8px 16px 0 16px;
  margin: 0;
}

@media screen {
  .lead__caption {
    padding: 8px 24px 0 24px;
  }
}
