.place {
  width: 100%;
  min-height: auto;
  padding-bottom: 50px;
}

.place:last-child {
  padding-bottom: 66px;
}

@media (min-width: 768px) {
  .place {
    padding-bottom: 73px;
  }
  .place:last-child {
    padding-bottom: 0;
  }
}
