.place__website {
  margin: 32px 0;
}



@media screen and (min-width: 768px) {
  .place__website {
    margin: 0px 0 0 28px;
    height: max-content;
    align-self: end;
  }
}

@media screen and (min-width: 1024px) {
  .place__website {
    margin-left: 32px;

  }
}