.cover__content {
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  color: white;
  text-decoration: none;
  position: relative;
}

@media (min-width: 1280px) {
  .cover__content {
    margin: 0 auto;
    max-width: 1184px;
  }
}
